

<section id="login">

  <h2>{{ pageTitle }}</h2>

  <div class="submit-form">
    <div>

      <div class="form-group">
        <label for="email">Adresse mail *</label>
        <input type="email" class="form-control" id="email" required name="email" [(ngModel)]="email">
      </div>
      
      <div class="form-group">
        <label for="pwhash">Mot de passe *</label>
        <input type="password" class="form-control" id="pwhash" required name="pwhash" [(ngModel)]="pwhash">
      </div>
      
      <button (click)="login_user()" class="btn btn-primary">Se connecter</button>
    </div>
    
  </div>
  
</section>
  
  
  


