
<h2>{{pageTitle}}</h2>

<section id="users">

  <div class="row">

    <div class="card col-4 my-5 mx-auto border-0" *ngFor="let user of users">
      <div class="card-header">
        <h3 class="card-title">{{user.firstname}} {{user.lastname}}</h3>
      </div>

      <div class="card-body">
        <p class="card-text">{{user.role.title}}</p>
      </div>

      <div class="card-footer text-muted">
        <a class="btn btn-rose p-1 mr-1" routerLink="/one_user/{{user.user_id}}">Voir</a>
        <!-- a class="btn btn-rose p-1" routerLink="/offer/deactivate/{{offer.id}}">Supprimer</!-->
      </div>
    </div>
      
  </div>

</section>


