
<section id="register">


<h2>{{ pageTitle }}</h2>

<div class="submit-form my-3">
  <div *ngIf="!isSubmit">
    
    <h6>Vous avez déjà un compte ? <a href="/login" width="100px" class="btn btn-boutons_roses">Connexion</a></h6>

    <div class="form-group">
      <label for="email">Adresse mail *</label>
      <input type="email" class="form-control" id="email" required name="email" [(ngModel)]="user.email">
    </div>
    
    <div class="form-group">
      <label for="password">Mot de passe *</label>
      <input type="password" class="form-control" id="password" required name="password" [(ngModel)]="user.pwhash">
    </div>

    <div class="form-group">
      <label for="firstname">Prénom *</label>
      <input type="text" class="form-control" id="firstname" required name="firstname" [(ngModel)]="user.firstname">
    </div>
    
    <div class="form-group">
      <label for="lastname">Nom *</label>
      <input type="text" class="form-control" id="lastname" required name="lastname" [(ngModel)]="user.lastname">
    </div>

    <div class="form-group">
      <label for="fk_role_id">Rôle *</label><br>
      <select name="fk_role_id" id="fk_role_id" [(ngModel)]="user.fk_role_id">
        <option value="1">Candidat</option>
        <option value="2">Entreprise</option>
      </select>
    </div>
    
    <button (click)="saveUser()" class="btn btn-primary">Enregistrer</button>
    
  </div>
  
  <div *ngIf="isSubmit">
    <h4>Vous êtes bien enregistré</h4>
    <a href="/login" class="btn btn-primary">Connexion</a>
  </div>
  
</div>

</section>


