<p>create-offer works!</p>

<!-- create_offer -->

<section id="createOffer" class="">

  <h2>{{ pageTitle }}</h2>
  
  <div *ngIf="!isSubmitted">
    <form id="formCreateOffer" (ngSubmit)="createOffer()" class="submit-form my-3">

      <div class="form-group">
        <label for="title">Titre de l'offre *&nbsp;</label>
        <input type="text" class="form-control" id="title" required name="title" [(ngModel)]="offer.title">
      </div>

      <div class="form-group">
        <label for="fk_enterprise_id">ID de l'entreprise&nbsp;</label>
        <input type="text" class="form-control" id="fk_enterprise_id" name="fk_enterprise_id" 
          placeholder="{{enterprise.enterprise_id}}" value="{{enterprise.enterprise_id}}" [(ngModel)]="offer.fk_enterprise_id">
      </div>
  
      <div class="form-group">
        <label for="detail">Détail de l'offre *&nbsp;</label>
        <input type="text" class="form-control" id="detail" required name="detail" [(ngModel)]="offer.detail">
      </div>
      
      <div class="form-group">
        <label for="recruitment_url">Page de recrutement&nbsp;</label><br>
        <input name="recruitment_url" id="recruitment_url" [(ngModel)]="offer.recruitment_url">
      </div>
      
      <div class="form-group">
        <label for="offer_location">Lieu du poste&nbsp;</label>
        <input type="text" class="form-control" id="offer_location" name="offer_location" [(ngModel)]="offer.offer_location">
      </div>
      
      <div class="form-group">
        <label for="xp_required">Expérience requise&nbsp;</label>
        <input type="text" class="form-control" id="xp_required" name="xp_required" [(ngModel)]="offer.xp_required">
      </div>


      <!-- CONTRAT -->
      <div class="form-group">
        <label for="contract_type">Contrat &nbsp;</label>
        <select name="contract_type" id="contract_type" [(ngModel)]="offer.contract_id">
          <option *ngFor="let contract of contracts" [value]="contract.contract_id">{{contract.contract_type}}</option>
        </select>
      </div>


      <button class="btn btn-primary">Enregistrer</button>
      
    </form>
  </div>
    
  <div *ngIf="isSubmitted">
    <h4>Votre offre a bien été créée</h4>
    <a href="/accueil" class="btn btn-primary">Accueil</a>
  </div>

  
</section>
