

<!-- Formulaire à afficher en permanence -->
<form id="searchForm" (ngSubmit)="search()" class="submit-form my-3">
  <div class="submit-form my-3">
    <div class="form-group row">

      <div class="kw col-12 col-lg-2 offset-lg-1 row">
        <label for="kw">Mot-clé</label>  
        <br>
        <input type="text" class="col-12" name="kw" id="kw" [(ngModel)]="kw">
      </div>

      <!-- CONTRATS -->
      <div class="contract col-12 col-lg-2 row">
        <label for="contract_type">Contract</label>  
        <br>
        <select name="contract_type" class="col-12" id="contract_type" [(ngModel)]="contract_type">
          <option *ngFor="let contract of contracts" [value]="contract.contract_id">{{contract.contract_type}}</option>
        </select>
      </div>
      
      <!-- SECTEURS D'ACTIVITE -->
      <div class="sector col-12 col-lg-3 row">
        <label for="sector_name">Secteur d'activité</label>
        <br>
        <select name="sector_name" class="col-12" id="sector_name" [(ngModel)]="sector_name">
          <option *ngFor="let sector of sectors" [value]="sector.sector_id">{{sector.sector_name}}</option>
        </select>
      </div>

      <!-- STATUTS D'ENTREPRISES -->
      <div class="status col-12 col-lg-3 row">
        <label for="status_type">Statut d'entreprise</label>
        <br>
        <select name="status_type" class="col-12" id="status_type" [(ngModel)]="status_type">
          <option *ngFor="let status of statuss" [value]="status.status_id">{{status.status_type}}</option><!-- [attr.selected]="value==1 ? 'selected' : null" -->
        </select>
      </div>

      <!-- SUBMIT -->
      <div class="col-12 col-lg-2">
        <input type="submit" class="btn btn-boutons_roses mt-5" value="Rechercher"  />
      </div>
    </div>
  </div>
</form>

<h5 class="my-5">Bonjour {{userValue.firstname}} {{userValue.lastname}}</h5>

<!-- Toutes nos offres à afficher quand le formulaire n'a pas été soumis -->
<div id="noOffers" *ngIf="isSubmitted==false">
  <app-offers></app-offers>
</div>

<!-- Résultat de la recherche : 
  Affichage des offres selon les critères s'il y en a, Sinon affichage de toutes nos offres 
-->
<div *ngIf="isSubmitted==true" id="result">

  <div id="noOffers" *ngIf="count_offers==0">
    <h4 class="my-5">Il n'y a pas d'offres avec ces critères.</h4>  
    <app-offers></app-offers>
  </div>
  
  <h4 class="my-3" *ngIf="count_offers!=0">{{count_offers}} postes à pourvoir</h4>
  
  <div class="row">
  
    <div class="card col-12 my-3" *ngFor = "let current of current_search">
      <div class="row">
        <div id="logo_ent" class="offset-xs-5 col-lg-2">
          <!--img *ngIf="enterprise.logo === null" src="assets/images/logo-j4t-1.png" width="150px" height="150px" alt="logo entreprise {{current.enterprise.name}}">
          <img *ngIf="enterprise.logo != null" src="{{current.enterprise.logo}}" width="150px" height="150px" alt="logo entreprise {{current.enterprise.name}}"-->
          <img src="{{current.enterprise.logo}}" alt="logo entreprise {{current.enterprise.name}}">
        </div>
        <div class="col-12 col-lg-7">
          <h3><strong>{{current.title}}</strong></h3><br>
          <p><strong>Entreprise : </strong>{{current.enterprise.name}}</p>
          <p><strong>Détails : </strong>{{ (current.detail.length>300) ? (current.detail.slice(0, 300)+'...') : current.detail }}</p>

            <p><strong>Secteur : </strong>{{current.sector.sector_name}}</p>
            <p><strong>Statut : </strong>{{current.status.status_type}}</p>

          </div>
        <div class="contract-type offset-xs-9 col-xs-3 col-lg-2">
          <h6 *ngIf="current.contract.contract_type==='CDI'" class="btn btn-boutons_roses">{{current.contract.contract_type}}</h6>
          <h6 *ngIf="current.contract.contract_type==='CDD'" class="btn btn-boutons_bleus">{{current.contract.contract_type}}</h6>
          <h6 *ngIf="current.contract.contract_type==='Alternance'" class="btn btn-boutons_verts">{{current.contract.contract_type}}</h6>
        </div>
        <div class="col-12 col-lg-1">
          <a class="btn btn-boutons_bleus w-100 p-1 mr-1" routerLink="/one_offer/{{current.offer_id}}">Voir</a>
        </div>
      </div>
    </div>
  </div>

</div>




