
<section class="row" id="fiche_offer">

  <div class="col-12">

    <h2>{{pageTitle}} - {{offer.title}} - {{offer.enterprise.name}}</h2>

    <div class="card">
      <div class="row my-5">
        <div class="col-2 row">
          <img class="col-12" src="/assets/images/{{offer.enterprise.logo}}" alt="Logo {{offer.enterprise.name}}">
        </div>
        <ul class="col-8 row">
          <li class="col-6">
            <strong>Statut :</strong> {{offer.status.status_type}}
          </li>
          <li class="col-6">
            <strong>Secteur d'activité :</strong> {{offer.status.sector_name}}
          </li>
          <li class="col-6">
            <strong>Taille :</strong> {{offer.enterprise.size}}
          </li>
          <li class="col-6">
            <strong>Site web :</strong><a href="{{offer.enterprise.website}}" target="_blank">
              {{offer.enterprise.website}}
            </a>
          </li>
        </ul>
        <div class="col-2" *ngIf="offer.contract.contract_type=='CDI'">
          <h5  class="btn-boutons_roses">{{offer.contract.contract_type}}</h5>
        </div>
        <div class="col-2" *ngIf="offer.contract.contract_type=='CDD'">
          <h5  class="btn-boutons_bleus">{{offer.contract.contract_type}}</h5>
        </div>
        <div class="text-justify p-5">
          <p>
            {{offer.detail}}
          </p>
        </div>
      </div>

      
      <div *ngIf="userValue.role === 'candidat'">
        <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/apply/{{offer.offer_id}}">Postuler</a>
      </div>
      <!-- div>
        <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/update_offer/{{offer.offer_id}}">Modifier</a>
        <a class="btn btn-boutons_roses p-1" routerLink="/deactivate_offer/{{offer.offer_id}}">Supprimer</a>
      </!-->
    </div>

  </div>
</section>

