
<section id="candidate_account">

  <h2 class="my-5">{{pageTitle}} </h2> 

  <div class="card col-12 col-lg-6 offset-lg-3 my-3 p-3">

    <h5><strong>Prénom &nbsp;</strong>{{candidate.user.firstname}} </h5>
    <h5><strong>Nom &nbsp;</strong> {{candidate.user.lastname}} </h5>
    
    <p>
      <strong>ID candidat &nbsp;</strong>{{candidate.candidate_id}}<br>
      <strong>ID utilisateur &nbsp;</strong> {{candidate.fk_user_id}}
    </p>
    
    <!-- a class="btn btn-rose p-1 mr-1" routerLink="/updateEnterprise/{{enterpriseObj.id}}">Modifier</!-->
    <p><strong>CV &nbsp;</strong> <a href="/assets/pdf/{{candidate.cv}}" target="_blank"> {{candidate.cv}}</a></p>
  
  </div>
  
</section>
  
