


  <h2>{{pageTitle}}</h2>
  
  <h4 class="my-5">Actuellement {{candidates.length}} candidats inscrits sur notre site</h4>

  <section id="candidates" class="row" *ngIf="userValue.role === 'entreprise'">
  
    <div class="card col-12 col-lg-3" *ngFor="let candidate of candidates">
  
      <p><strong>ID utilisateur</strong> {{candidate.fk_user_id}}</p>
      <p><strong>Prénom : </strong>{{candidate.user.firstname}}</p>
      <p><strong>Nom : </strong> {{candidate.user.lastname}}</p> 
      <a routerLink="assets/images/{{candidate.cv}}" target="_blank">
        {{candidate.cv}}
      </a>
  
    </div>

  </section>

  <!-- div> Pour l'admin dans la V2
    <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/one_enterprise/{{enterprise.enterprise_id}}">Voir</a>
  </!-->

    






      




