
<!-- NAVBAR + FOOTER -->
<footer class="mt-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </!-->

  
    <!--div class="collapse navbar-collapse" id="navbarSupportedContent"-->
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about/1">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mentions/2">Mentions légales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/send_mail">Contact</a>
        </li>
      </ul>
    <!--/!--div-->
  </nav>
</footer>

