/* You can add global styles to this file, and also import other style files */

/*****************  variables *************************/
:root {
  --boutons_bleus : #35cfdb;
  --boutons_roses : #ff7276;
  --dark: #006573;
  --light: #f8f9fa;
}

/**************** layout  ****************************/

nav#haut {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.bg-dark {
  background-color: var(--dark) !important;
}
#main {
  position: relative;
  top: 5rem;
  min-height: 800px !important;
}

footer nav li {
  padding-left: 20px;
  padding-right: 20px;
}

/*****************  éléments  ************************/

section {
  width: 80%;
  margin: 0 auto;
}

section#pagestatique p {
  -webkit-column-count:4; /* Opera, Safari, Google Chrome */
  column-count: 2; /* Firefox */
  column-count: 4; /* Internet Explorer */
  text-align: justify;
  line-height: 1.2rem;
  font-size: 1rem;
}

section#pagestatique img {
  display: block;
  margin: 3rem auto;
  width: 70%;
}

#logo_ent img {
  height: 150px !important;
  width: 150px;
}

#fiche_enterprise ul,
#fiche_enterprise li {
  list-style: none;
  padding: 0;
}

nav a {
  color: var(--boutons_bleus) !important;
}

/*****************  classes *************************/

.btn-boutons_roses {
  background-color: var(--boutons_roses) !important;
}

.btn-boutons_bleus {
  background-color: var(--boutons_bleus);
}

nav a.navbar-brand {
  color: var(--light) !important;
}




