
<section id="update_enterprise">


  <h2>{{ pageTitle }}</h2>

<div class="submit-form my-3">
  <div *ngIf="!isSubmit">

    <fieldset>
      <legend>
        Entreprise
      </legend>
      
      <div class="form-group">
        <label for="name">Nom de l'entreprise</label>
        <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="enterprise.name" placeholder="{{enterprise.name}}">
      </div>
      
      <!-- logo : voir upload -->
      <!-- div class="form-group">
        <label for="logo">Logo</label>
        <input type="text" class="form-control" id="logo" required name="logo" [(ngModel)]="enterprise.logo">
      </!-->
      
      <div class="form-group">
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="60" rows="10" [(ngModel)]="enterprise.description"  placeholder="{{enterprise.description}}"></textarea>
      </div>
      
      <div class="form-group">
        <label for="size">Taille</label>
        <input type="text" class="form-control" id="size" required name="size" [(ngModel)]="enterprise.size"  placeholder="{{enterprise.saze}}">
      </div>
      
      <div class="form-group">
        <label for="website">Site web</label>
        <input type="text" class="form-control" id="website" required name="website" [(ngModel)]="enterprise.website"  placeholder="{{enterprise.website}}">
      </div>
      
      <!-- SECTEURS D'ACTIVITE -->
      <div class="form-group">
        <label for="fk_sector_id">Secteur d'activité</label><br>
        <select name="fk_sector_id" id="fk_sector_id" [(ngModel)]="enterprise.fk_sector_id">
          <option value="1">Banque, finance</option>
          <option value="2">Restauration</option>
          <option value="2">Transport</option>
        </select>
      </div>
      
      <!-- STATUTS D'ENTREPRISES -->
      <div class="form-group">
        <label for="fk_status_id">Statut de la structure</label>
        <br>
        <select name="fk_status_id" id="fk_status_id" [(ngModel)]="enterprise.fk_status_id">
          <option *ngFor="let status of statuss" [value]="status.status_id">{{status.status_type}}</option>   <!-- [attr.selected]="value==1 ? 'selected' : null" -->
        </select>
      </div>
      
      <button (click)="saveEnterprise()" class="btn btn-primary">Enregistrer</button>
    </fieldset>

    <!-- fieldset>
      <legend>
        Utilisateur enregistré
      </legend>
        <div class="form-group">
          <label for="firstname">Prénom utilisateur</label><br>
          <input type="text" class="form-control" id="firstname" required name="firstname" [(ngModel)]="user.firstname">
        </div>
        
        <div class="form-group">
          <label for="lastname">Nom utilisateur</label><br>
          <input type="text" class="form-control" id="lastname" required name="lastname" [(ngModel)]="user.lastname">
        </div>
    </!-->
        
    <!-- button (click)="saveEnterprise()" class="btn btn-primary">Enregistrer</!-->
    
  </div>
  
  <div *ngIf="isSubmit">
    <h4>Modifications enregistrées</h4>
  </div>
  
</div>

</section>


