

<!-- p>offers works!</!-->

<h2>{{pageTitle}}</h2>

<div class="row">

  <div class="card col-4" id="fiche_enterprise" *ngFor = "let enterprise of enterprises">
    <!-- div class="row" -->
      <div id="logo_ent">
        <a href="{{enterprise.website}}" target="_blank">

          <div *ngIf="userValue != null && role === 'candidat'">

          </div>
          <img *ngIf="enterprise.logo === null" src="assets/images/logo-j4t-1.png" width="150px" height="150px" alt="logo entreprise {{enterprise.name}}">
          <img *ngIf="enterprise.logo != null" src="{{enterprise.logo}}" width="150px" height="150px" alt="logo entreprise {{enterprise.name}}">
        </a>
      </div>
      <div class="col-12 my-5">
        <ul>
          <li>
            <strong>Statut :</strong> {{enterprise.status.status_type}}
          </li>
          <li>
            <strong>Secteur d'activité :</strong> {{enterprise.sector.sector_name}}
          </li>
          <li>
            <strong>Taille :</strong> {{enterprise.size}}
          </li>
          <li>
            <strong>Site web :</strong><a href="{{enterprise.website}}" target="_blank">
              {{enterprise.website}}
            </a>
          </li>
        </ul>
        <p>
          {{enterprise.description}}
        </p>
      </div>
      
      <div>
        <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/one_enterprise/{{enterprise.enterprise_id}}">Voir</a>
        <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/updateEnterprise/{{enterprise.enterprise_id}}">Modifier</a>
        <a class="btn btn-boutons_roses p-1" routerLink="/deactivate/{{enterprise.enterprise_id}}">Supprimer</a>
      </div>
    <!-- /!-->
  </div>

  <!-- name	logo	description	size	website	fk_sector_id	fk_status_id	fk_user_id	is_active -->
    
</div>


