
<section class="row" id="fiche_enterprise">

  <div class="col-12">
    <h5 *ngIf="userValue != 'undefined'">Bonjour {{userValue.firstname}} {{userValue.lastname}}</h5>

    <!-- aside id="menu" class="mb-3">
      <a routerLink="/create_enterprise" class="btn btn-boutons_bleus my-1">Créer votre entreprise</a>
      <a routerLink="/one-enterprise/enterprise.enterprise_id" class="btn btn-boutons_bleus my-1">Voir votre fiche</a>
    </!-->
    
    <h2>Fiche Entreprise {{enterprise.name}}</h2>

    <div class="card">
        <div id="logo_ent">
          <a href="{{enterprise.website}}" target="_blank">
            <img src="assets/images/{{enterprise.logo}}" alt="logo entreprise {{enterprise.name}}">
          </a>
        </div>
        <div class="col-12 my-5">
          <ul>
            <li>
              <strong>Statut :</strong> {{enterprise.status.status_type}}
            </li>
            <li>
              <strong>Secteur d'activité :</strong> {{enterprise.sector.sector_name}}
            </li>
            <li>
              <strong>Taille :</strong> {{enterprise.size}}
            </li>
            <li>
              <strong>Site web :</strong><a href="{{enterprise.website}}" target="_blank">
                {{enterprise.website}}
              </a>
            </li>
          </ul>
          <p>
            {{enterprise.description}}
          </p>
        </div>

        <!-- si le user connecté est bien le représentant de l'entreprise affichée, on lui donne accès aux contrôles sur le compte -->
        <div *ngIf="enterpriseObj.enterprise_id === enterprise.enterprise_id">
          <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/update_enterprise/{{enterprise.enterprise_id}}">Modifier</a>
          <a class="btn btn-boutons_roses p-1" routerLink="/deactivate/{{enterprise.enterpriseid}}">Supprimer</a>
        </div>
      <!-- /!-->
    </div>
  

    <h3 class="my-5">Offres de l'entreprise : {{offers.length}} <span *ngIf="offers.length > 1">postes</span> <span *ngIf="offers.length < 2">poste</span> à pourvoir</h3>

    <div class="row">
      
      <div class="card col-12 my-3" *ngFor = "let offer of offers">
        <div class="row">
          <div id="logo_ent" class="offset-xs-5 col-lg-2">
            <img src="assets/images/{{offer.enterprise.logo}}" alt="logo entreprise {{offer.enterprise.name}}">
          </div>
          <div class="col-12 col-lg-7">
            <h3><strong>{{offer.title}}</strong></h3><br>
            <p><strong>Entreprise : </strong>{{offer.enterprise.name}}</p>
            <p><strong>Détails tronqués : </strong>{{ (offer.detail.length>300) ? (offer.detail.slice(0, 300)+'...') : offer.detail }}</p>

            <p><strong>Secteur : </strong>{{offer.sector.sector_name}}</p>
          </div>
          <div class="contract-type offset-xs-9 col-xs-3 col-lg-1">
            <h6 *ngIf="offer.contract.contract_type==='CDI'" class="btn-boutons_roses">{{offer.contract.contract_type}}</h6>
            <h6 *ngIf="offer.contract.contract_type==='CDD'" class="btn-boutons_bleus">{{offer.contract.contract_type}}</h6>
          </div>
          <div class="col-12 col-lg-1">
            <a class="btn btn-boutons_bleus w-100 p-1 mr-1" routerLink="/one_offer/{{offer.offer_id}}">Voir</a>
          </div>
        </div>
      </div>
        
    </div>

    
    <h3 class="my-5">Actuellement {{candidates.length}} candidats inscrits sur notre site</h3>
    
    <div class="row">
    
      <div class="card col-12 col-lg-3" *ngFor="let candidate of candidates">
    
        <p><strong>ID utilisateur</strong> {{candidate.fk_user_id}}</p>
        <p><strong>Prénom : </strong>{{candidate.user.firstname}} <strong>Nom : </strong> {{candidate.user.lastname}}</p> 
        <a routerLink="assets/images/{{candidate.cv}}" target="_blank">
          {{candidate.cv}}
        </a>
    
      </div>
      
    </div>
    
  </div>

</section>
