

<section id="createEnterprise" class="">


  <h2>{{ pageTitle }}</h2>
  
  <div *ngIf="!isSubmitted">
    <form id="createEnterp" (ngSubmit)="createEnterprise()" class="submit-form my-3">

      <div class="form-group">
        <label for="name">Nom de l'entreprise *&nbsp;</label>
        <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="enterprise.name">
      </div>

      <div class="form-group">
        <label for="logo">URL du logo&nbsp;</label>
        <input type="text" class="form-control" id="logo" name="logo" [(ngModel)]="enterprise.logo">
      </div>
  
      <div class="form-group">
        <label for="description">Description&nbsp;</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="enterprise.description">
      </div>
      
      <div class="form-group">
        <label for="size">taille de l'entreprise *&nbsp;</label>
        <input type="text" class="form-control" id="size" required name="size" [(ngModel)]="enterprise.size">
      </div>
  
      <div class="form-group">
        <label for="website">URL du site *&nbsp;</label><br>
        <input name="website" id="website" required [(ngModel)]="enterprise.website">
      </div>
      
      <!-- SECTEUR D'ACTIVITE -->
      <div class="form-group">
        <label for="sector_name">Secteur d'activité * &nbsp;</label>
        <select name="sector_name" id="sector_name" required [(ngModel)]="enterprise.sector.sector_name">
          <option *ngFor="let sector of sectors" [value]="sector.sector_id">{{sector.sector_name}}</option>
        </select>
      </div>

      <!-- STATUT DE L'ENTREPRISE  -->
      <div class="form-group">
        <label for="status_type">Statut de l'entreprise * &nbsp;</label>
        <select name="status_type" id="status_type" required [(ngModel)]="enterprise.status.status_type">
          <option *ngFor="let status of statuss" [value]="status.status_type">{{status.status_type}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fk_user_id">Identifiant utilisateur</label><br>
        <input name="fk_user_id" id="fk_user_id" disabled placeholder="{{userValue.id}}" [(ngModel)]="enterprise.fk_user_id">
      </div>


      <button class="btn btn-primary">Enregistrer</button>
      
    </form>
  </div>
    
  <div *ngIf="isSubmitted">
    <h4>Votre entreprise a bien été créée</h4>
    <a href="/accueil" class="btn btn-primary">Accueil</a>
  </div>

  
</section>
  
  
  
