
<section id="apply">

<h2>{{ pageTitle }}</h2>


  <div class="submit-form my-3">

    <!-- ngForm -->
    <div *ngIf="!isSubmit"><!--  *ngIf="!isSubmit" -->

      <div class="form-group">
        <label for="from">Votre adresse mail *</label>
        <input type="email" class="form-control" id="from" required name="from" placeholder="{{username.email}}" value="{{username.email}}" disabled><!-- [(ngModel)]="email.from" -->
      </div>
      
      <div class="form-group">
        <label for="subject">Sujet</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="{{offer.title}} - {{offer.offer_id}}"
        value="{{offer.title}} - {{offer.offer_id}}" disabled><!-- [(ngModel)]="email.subject" -->
      </div>

      <div class="form-group">
        <label for="message">Message *</label>
        <textarea name="message" class="form-control" id="message" cols="60" rows="10" [(ngModel)]="email.message"></textarea>
      </div>

      <!-- div class="form-group">
        <label for="filename">CV à joindre *</label>
        <input type="file" name="filename" id="filename" [(ngModel)]="email.filename"><br>
        <label for="path">Chemin vers le CV *</label>
        <input type="text" class="form-control" id="path" required name="path" [(ngModel)]="email.path">
      </!-->
      
      <button (click)="sendMail(email)" class="btn btn-boutons_roses">Envoyer</button>
      
    </div>
    
    <div *ngIf="isSubmit"><!--  *ngIf="isSubmit" -->
      <h4>Votre candidature a bien été envoyée.</h4>
      <a href="/accueil" class="btn btn-boutons_bleus">Accueil</a>
    </div>
    
  </div>

</section>




