
<div id="main">
  
  <section id="pagestatique" class="my-3">
  <h2 class="my-3 center">{{aboutPage.title}}</h2>
    <p>{{aboutPage.content}}</p>
    <img class="col-6" src="{{aboutPage.image}}" alt="">
  </section>
</div>
