

<div id="main">

  <!-- p>{{pageTitle}}</!-->
  
  <section id="pagestatique" class="my-3">
    <h2 class="my-3 center">{{mentionsPage.title}}</h2>
    <p>{{mentionsPage.content}}</p>
    <img class="col-6" src="assets/images/{{mentionsPage.image}}" alt="Illustration RGPD">
  </section>
</div>


