

  <h2 class="my-5">{{pageTitle}}</h2>

<section class="row" id="one_user">


  <div class="card col-12 col-lg-6 offset-lg-3 my-3 p-3">
  
    <h5><strong>Prénom &nbsp;</strong>{{user.firstname}} </h5>
    <h5><strong>Nom &nbsp;</strong> {{user.lastname}} </h5>


    <div class="col-12 my-5">
      <p><strong>Rôle &nbsp;</strong> {{user.role.title}}</p>
    </div>

    <p>
      <strong>ID user &nbsp;</strong>{{user.user_id}}<br>
    </p>

    <p>
      <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/one_user/{{user.user_id}}">Modifier</a>
      <a class="btn btn-boutons_roses p-1" routerLink="/deactivate_user/{{user.user_id}}">Supprimer</a>
    </p>
  
  </div>

</section>








