
  
/*****************  variables *************************/
:root {
  --boutons_bleus: #35cfdb;
  --boutons_roses: #ff7276;
  --boutons_verts: #138E3A;
  --boutons_jaunes: #FFCC66;
  --dark: #006573;
  --light: #f8f9fa;
}

/*************  screens xs, sm and md ******************/

@media screen and (max-width: 768px) {
  #main {
    margin-left: 1rem;
  }
  #candidate_account,
  #one_user {
    margin-left: 5rem;
  }

  .contract-type .btn-boutons_roses,
  .contract-type .btn-boutons_bleus {
    padding: 3px;
    text-align: center;
    margin-bottom: 3rem;
  }

  footer nav ul li {
    display: inline !important;
  }
}



/**************** layout  ****************************/
body {
  color: #333;
}

nav#haut {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.bg-dark {
  background-color: var(--dark) !important;
}
/*
#main {
  position: relative;
  top: 1.5rem;
  margin-bottom: 50px;
  min-height: 800px !important; 
}
*/
section {
  width: 80%;
  margin: 0 auto !important;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

footer {
  position: relative;
  top: 5rem;
}
footer nav li {
  padding-left: 20px;
  padding-right: 20px;
}

/***********************************  éléments  **************************************/

/*******************  nav **************************/
nav a {
  color: var(--boutons_bleus) !important;
  cursor: pointer;
}

nav a.navbar-brand {
  color: var(--light) !important;
}

nav#haut a#deco {
  color: var(--light) !important;
}
nav#haut a#monCompte {
  color: var(--dark) !important;
}

h2 {
  text-align: center;
  margin: 5rem auto;
}

h4 {
  text-align: center;
}



/***************  logo entreprise *******************/

#logo_ent img {
  height: 150px !important;
  width: 150px;
}


/*****************  home  ***************************/

#titreHome {
  background-color: var(--dark);
  color: white;
  width: 100%;
  height: 60vh;
  display: block;
}
#titreHome h2 {
  padding-top: 5rem;
}


#searchForm {
  background-color: var(--light);
  border: 2px var(--boutons_bleus) solid;
  border-radius: 5px;
  padding-bottom: 1rem;
}

#page {
  position: relative;
  top: -16vh;
}

aside#menu {
  background-color: var(--light);
  border: var(--dark) solid 1px;
  border-radius: 5px;
  height: 10rem;
}
aside#menu a:first-child {
  margin-top: 1rem!important;
}


/************** one-user ******************************/



/************ pages statiques ************************/
section#pagestatique p {
  -webkit-column-count:4; /* Opera, Safari, Google Chrome */
  column-count: 2; /* Firefox */
  column-count: 4; /* Internet Explorer */
  text-align: justify;
  line-height: 1.2rem;
  font-size: 1rem;
}

section#pagestatique img {
  display: block;
  margin: 3rem auto;
  width: 70%;
}


/*****************  classes *************************/

.btn-boutons_roses {
  background-color: var(--boutons_roses) !important;
  border-radius: 3px;
}

.btn-boutons_bleus {
  background-color: var(--boutons_bleus);
  border-radius: 3px;
}

.btn-boutons_verts {
  background-color: var(--boutons_verts);
  border-radius: 3px;
}

.btn-boutons_verts {
  background-color: var(--boutons_jaunes);
  border-radius: 3px;
}

.center {
  text-align: center;
}




