
<section id="titreHome" class="center">

  <h2>{{siteTitle}}<br>{{pageTitle}}</h2>
  
</section>

<!-- pour tout utilisateur connecté -->
<section id="page" *ngIf="userValue != null">

  <app-recherche></app-recherche>

</section>
