
<h2>{{pageTitle}} : {{count}} postes à pourvoir</h2>

<section id="offers">

<div class="row">

    <div class="card col-12 my-3" *ngFor="let offer of offers">
      <div class="row">
        <div id="logo_ent" class="offset-xs-5 col-xs-2 col-lg-2">
          <img *ngIf="offer.enterprise.logo === null" src="assets/images/logo-j4t-1.png" alt="logo entreprise {{offer.enterprise.name}}">
          <img *ngIf="offer.enterprise.logo != null" src="{{offer.enterprise.logo}}" alt="logo entreprise {{offer.enterprise.name}}">
        </div>
        <div class="col-xs-12 col-lg-7">
          <h3><strong>{{offer.title}}</strong></h3><br>
          <p><strong>Entreprise : </strong>{{offer.enterprise.name}}</p>
          <p><strong>Détails : </strong>{{ (offer.detail.length>300) ? (offer.detail.slice(0, 300)+'...') : offer.detail }}</p>
          
          <p><strong>Secteur : </strong>{{offer.sector.sector_name}}</p>
          <p><strong>Statut : </strong>{{offer.status.status_type}}</p>
        </div>

        <div class="contract-type offset-xs-8 col-xs-4 col-lg-2 mx-auto">
          <h6 *ngIf="offer.contract.contract_type==='CDI'" class="btn btn-boutons_roses">{{offer.contract.contract_type}}</h6>
          <h6 *ngIf="offer.contract.contract_type==='CDD'" class="btn btn-boutons_bleus">{{offer.contract.contract_type}}</h6>
          <h6 *ngIf="offer.contract.contract_type==='Alternance'" class="btn btn-boutons_verts">{{offer.contract.contract_type}}</h6>
        </div>

        <div class="col-xs-12 col-lg-1">
          <a class="btn btn-boutons_bleus w-100 p-1 ml-auto" routerLink="/one_offer/{{offer.offer_id}}">Voir</a>
        </div>
      </div>
    </div>
  
  </div>
</section>

<!-- div> Pour l'admin dans la V2
  <a class="btn btn-boutons_bleus p-1 mr-1" routerLink="/one_enterprise/{{enterprise.enterprise_id}}">Voir</a>
</!-->





