
<!-- NAVBAR HAUT -->
<nav id="haut" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/accueil">
    <img src="assets/images/{{siteLogo}}" alt="Logo Jobboard" width="50px" height="50px"> 
    {{siteTitle}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/all_offers">Toutes nos offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="all_enterprises">Toutes nos entreprises partenaires</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="all_candidates">Tous nos candidats</a>
      </li>

      <!--  MON COMPTE CANDIDAT  -->
      <div *ngIf="userValue != null && role === 'candidat'">
        <a id="monCompte" class="ml-1 pull-right nav-link btn-boutons_bleus" 
        routerLink="/one_candidate/{{candidate.candidate_id}}">
          Mon compte candidat
        </a>
      </div>

      <!--  MON COMPTE ENTREPRISE  -->
      <div *ngIf="userValue != null && role === 'entreprise'">
        <a id="monCompte" class="ml-1 pull-right nav-link btn-boutons_bleus" 
        routerLink="/one_enterprise/{{enterpriseObj.enterprise_id}}">
          Mon compte entreprise
        </a>
      </div>

      <!--  DECONNEXION  -->
      <div *ngIf="userValue != null">
        <a id="deco" class="ml-1 pull-right nav-link btn-boutons_roses" routerLink="/" (click)="logout()">
          Se déconnecter
        </a>
      </div>

      <!--  DASHBOARD ADMIN  -->
      <!-- div *ngIf="userValue != null && role === 'admin'">
        <a id="monCompte" class="ml-1 pull-right nav-link btn-boutons_bleus" routerLink="">Dashboard</a>
      </!-->

    </ul>
  </div>
</nav>
<!-- FIN NAVBAR HAUT -->




